# Go binaries
bin/
# Test binary, build with `go test` instead of `go build`.
testdata/
# Dependency directories (may be empty)
vendor/# Go workspace file
go.work
# Audio files
*.wav
*.mp3
*.flac
*.aac
